*{
    padding:0;
    margin: 0;
    
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient( rgb(143, 215, 240) 50%, rgb(88, 88, 241));
    color: white;
}
.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchbar input{
    padding: 12px;
    width: 250px;
    border-radius: 20px;
    border: none;
    margin: 10px;

}
.searchbar img{
    width: 30px;
    background-color:rgb(255, 255, 255) ;
    width: 25px;
    height: 25px;
    padding: 10px;
    border-radius: 50%;
    border: none;
}
.searchbar img:hover{
    background-color: rgb(215, 212, 212);
    cursor: pointer;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
.main img {
    margin: 20px;
    width: 150px;

}
.main h1{
    font-size: 3rem;
}
.bottom{
    margin-top: 80px;
    gap: 30px;
}
.bottom, .BL, .BR{
    display: flex;
    align-items: center;
    justify-content: center;
}
.BL img, .BR img{
    width: 30px;
    margin: 10px;

}

